.menu__authorized-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000;
  }
  
  .menu__link_active {
    font-weight: 500;
  }
  
  .menu__authorized-item:first-of-type {
    margin: 0 20px 0 0;
  }
  
  .menu__authorized-item {
    margin: 0 360px 0 0;
  }
  
  .menu__authorized-item:last-of-type {
    margin: 0 ;
    
  }