.app {
    background-color: #fff;
    min-height: 100vh;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .app__section {
    margin: 0 auto;
  }
  
  .section {
    max-width: 1280px;
    width: 100%;
  }
  
  .movies-section {
    max-width: 1140px;
    width: 100%;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .button {
    box-sizing: border-box;
    padding: 0;
    outline: none;
    transition: opacity .3s ease-in;
  }
  
  .button:hover {
    opacity: .8;
    cursor: pointer;
  }
  
  .link {
    text-decoration: none;
    transition: opacity .3s ease-in;
  }
  
  .link:hover {
    opacity: .8;
    cursor: pointer;
  }
  
  @media screen and (max-width: 1280px) {
    .section {
      width: 93.75%;
    }
  
    .movies-section {
      width: 89.1%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .section {
      width: 94.8%;
    }
  
    .movies-section {
      width: 92.2%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .section {
      width: 91.25%;
    }
  
    .movies-section {
      width: 91.25%;
    }
  }
  