.header {
    padding: 18px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @media screen and (max-width: 768px) {
    .header {
      padding: 18px 10px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .header {
      padding: 18px 0;
    }
  }
  .header_type_isDark{
    background:#5C5C5C;
  }

  .header_type_isWhite{
    background: white;
  }