.footer {
    padding: 79px 70px 20px;
    margin-top: auto;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 1px solid #e8e8e8;
    padding: 20px 0 0;
  }
  
  .footer__copyright {
    font-size: 13px;
    line-height: 16px;
    margin: 0;
  }
  
  .footer__description {
    font-size: 13px;
    line-height: 16px;
    color: #a0a0a0;
    margin: 0 0 18px;
  }
  
  .footer__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer__item {
    margin: 0 20px 0 0;
  }
  
  .footer__item:last-of-type {
    margin: 0;
  }
  
  .footer__link {
    font-size: 13px;
    line-height: 16px;
    color: #000;
    text-decoration: none;
  }
  
  @media screen and (max-width: 768px) {
    .footer {
      background-color: #fff;
      padding: 81px 30px 20px;
    }
  
    .footer__description {
      margin: 0 0 20px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer {
      padding: 65px 10px 10px;
    }
  
    .footer__container {
      flex-direction: column;
      justify-content: center;
      padding: 27px 0 0;
    }
  
    .footer__copyright {
      order: 1;
      color: #a0a0a0;
      font-size: 12px;
      line-height: 15px;
    }
  
    .footer__description {
      font-size: 12px;
      line-height: 15px;
      margin: 0 0 21px;
    }
  
    .footer__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .footer__item {
      margin: 0 0 9px;
    }
  
    .footer__item:last-of-type {
      margin: 0 0 30px;
    }
  
    .footer__link {
      font-size: 12px;
      line-height: 15px;
    }
  }