.NavTab{
    background: #F5F5F5;
    max-width: 1280px;
}
.nav-tab {
    list-style: none;
    margin: 24px auto;
    padding: 0;
    display: flex;

    justify-content: center;
  }
  
  .nav-tab__item {
    margin: 0 10px 0 0;
    width: 96px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
  }
  
  .nav-tab__item:last-of-type {
    margin: 0;
  }
  
  .nav-tab__link {
    color: #000;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
  }
  
  @media screen and (max-width: 520px) {
    .nav-tab__item {
    margin: 0 6px 0 0;
    width: 82px;
    height: 26px;
  }
  }